<% provide(:title, "Add opportunity") %>
<div class="row">
	<div class="col-md-10 col-md-offset-1 content">
		<h1>Add an opportunity</h1>

		<%= form_for(@fly, html: {:role => 'form'}) do |f| %>
			<div class="row">
				<div class="col-md-6">
					<%= render "shared/form_input_field", f: f, errors: @fly.errors, type: :airline %>
					<%= render "shared/form_input_field", f: f, errors: @fly.errors, type: :name %>
					<%= render "shared/form_input_field", f: f, errors: @fly.errors, type: :program_type %>
					<%= render "shared/form_input_field", f: f, errors: @fly.errors, type: :duration %>
					<%= render "shared/form_input_field", f: f, errors: @fly.errors, type: :post_graduation %>
				</div>
				<div class="col-md-6">

					<%= render "shared/form_input_array", f: f, errors: @fly.errors, type: :website, size: 2, 
					labels: ["Website to show user", "Full website for internal purposes"] %>

					<%= render "shared/form_input_field", f: f, errors: @fly.errors, type: :hiring_status %>
					<%= render "shared/form_input_field", f: f, errors: @fly.errors, type: :rating %>
				</div>
			</div>

			<%= add_fields f, :headings %>

			<div class="add-buttons">
				<%= link_to_add_fields "Add Paragraph", f, :headings %>
				<%= link_to_add_table_fields "Add Table", f, :headings %><br /><br />
			</div>
			<%= f.submit class: "btn btn-primary btn-lg" %>
					
		<% end %>
	</div>
</div>