<% provide(:title, "Sign up") %>
<% errors = @user.errors %>
<div class="row">
	<div class="col-md-6 col-md-offset-3 content">
		<h1>Sign up</h1>
		<%= form_for(@user, :html => {:role => 'form'}) do |f| %>
			<%= render partial: "shared/error_messages", locals: {efor: @user} %>
			<%= render partial: "shared/form_input_field", locals: { f: f, errors: errors, type: :name } %>
			<%= render partial: "shared/form_input_field", locals: { f: f, errors: errors, type: :email } %>
			<%= render partial: "shared/form_input_field", locals: { f: f, errors: errors, type: :password } %>
			<%= render partial: "shared/form_input_field", locals: { f: f, errors: errors, type: :password_confirmation } %>
		  <%= f.submit "Create my account", :class => "btn btn-primary btn-lg" %>
		<% end %>
	</div>
</div>