<% provide(:title, @fly.name) %>
<div class="row">
	<div class="col-md-12 content">
		
		<% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> top-m-20"><%= value %></div>
    <% end %>

    <div class="row">
    	<div class="col-md-9">
    		<h1 class="lighter"><%= image_tag(@fly.airline.logo, :class => "company-logo") %> - <%= @fly.name %></h1>
    	</div>
    	<div class="col-md-3"><%= rating(@fly.rating) %></div>
    </div>

    <% if @fly.hiring_status.blank? %>
		<table class="table table-bordered table-thick-border bottom-m-0 top-m-20 lighter">
			<thead>
				<tr>
					<th>Type</th>
					<th>Duration</th>
					<th>Post Graduation</th>
					<th>More Info</th>
				</tr>
			</thead>
			<tr>
				<td><%= @fly.program_type %></td>
				<td><%= @fly.duration %></td>
				<td><%= @fly.post_graduation %></td>
				<td><%= link_to(@fly.website[0], @fly.website[0]) %></td>
			</tr>
		</table>
		<% else %>
		<table class="table table-bordered table-thick-border bottom-m-0 top-m-20 lighter">
			<thead>
				<tr>
					<th>Type</th>
					<th>Hiring Status</th>
					<th>More Info</th>
				</tr>
			</thead>
			<tr>
				<td><%= @fly.program_type %></td>
				<td><%= @fly.hiring_status %></td>
				<td><%= link_to(@fly.website[0], @fly.website[0]) %></td>
			</tr>
		</table>
		<% end %>

		<% @fly.headings.each do |heading| %>
			<h2><%= heading.title %></h2>
			<% if heading.is_table %>
				<table class="table table-bordered top-m-20 lighter">
					<% heading.subheadings.each do |subheading| %>
						<tr>
							<td><%= subheading.title %></td>
							<td><%= subheading.paragraphs.first.content %></td>
						</tr>
					<% end %>
				</table>
			<% else %>
				<% heading.subheadings.each do |subheading| %>
					<% if !subheading.title.blank? %>
						<h4><%= subheading.title %></h4>
					<% end %>
					<% subheading.paragraphs.each do |paragraph| %>
						<p class="font-17"><%= paragraph.content %></p>
					<% end %>
				<% end %>
			<% end %>
		<% end %>

		<p class="font-17"></p>
		
	</div>
</div>	