<% provide(:title, "Edit Airline") %>
<% errors = @airline.errors %>
<div class="row">
	<div class="col-md-10 col-md-offset-1 content">
		<h1>Edit Airline</h1>
		<%= form_for(@airline, :html => {:role => 'form'}) do |f| %>

			<%= render partial: "shared/error_messages", locals: {efor: @airline} %>

			<div class="row">
				<div class="col-md-6">
					<%= render "shared/form_input_field", f: f, errors: @airline.errors, 
					type: :name %>
					<%= render "shared/form_input_field", f: f, errors: @airline.errors, type: :logo %>
				</div>
			</div>
			
			<%= f.submit class: "btn btn-primary btn-lg" %>
					
		<% end %>
	</div>
</div>