<% provide(:title, "New Airline") %>
<% errors = @airline.errors %>
<div class="row">
	<div class="col-md-10 col-md-offset-1 content">
		<h1>New Airline</h1>
	

		<%= form_for(@airline, :html => {:role => 'form'}) do |f| %>

			<%= render partial: "shared/error_messages", locals: {efor: @airline} %>

			<div class="row">
				<div class="col-md-6">
					<%= content_tag :div, class: ['form-group', ('has-error has-feedback' if errors.full_messages_for(:logo).any?)] do %>
					  <%= f.label :logo %>
					  
					  <%= f.file_field :logo %>
					  
					  <%= content_tag :span, nil, class: ('glyphicon glyphicon-remove form-control-feedback' if errors.full_messages_for(:logo).any?) %>
					  <%= content_tag :span, errors.full_messages_for(:logo).join(", "), class: 'help-block' %>
					<% end %>
				</div>
				<div class="col-md-6">
					<%= render "shared/form_input_field", f: f, errors: @airline.errors, type: :name %>
				</div>
			</div>
			
			<%= f.submit class: "btn btn-primary btn-lg" %>
					
		<% end %>
	</div>
</div>