<div class="panel panel-default">
	<div class="panel-heading">

		<div class="form-group">
			<%= f.hidden_field :is_table, value: true %>
			<%= f.label :title, "Table Heading" %>
			<div class="row">
				<div class="col-md-9">

					<%= f.text_field :title, class: "form-control" %>
				</div>
				<div class="col-md-3">
					<%= f.hidden_field :_destroy %>
					<%= link_to "Remove Table", '#', class: "remove_fields" %>
				</div>
			</div>
		</div>
		<%= link_to_add_table_fields "Add table row", f, :subheadings %>
	</div>
</div>